**Importing the necessary libraries:**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [ ]:
pd.options.display.max_rows=90
pd.options.display.max_columns=20

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Data Pre-processing**

**Acquiring the dataset**

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/KAGGLE-House Prices Prediction/train_scaled.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NONE,Reg,Lvl,AllPub,...,0,NO,NO,NO,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NONE,Reg,Lvl,AllPub,...,0,NO,NO,NO,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NONE,IR1,Lvl,AllPub,...,0,NO,NO,NO,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NONE,IR1,Lvl,AllPub,...,0,NO,NO,NO,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NONE,IR1,Lvl,AllPub,...,0,NO,NO,NO,0,12,2008,WD,Normal,250000

**Exploring the data types:**

In [ ]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage        int64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea         int64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

**Converting object dtypes to int64:**

In [ ]:
# Creating a instance of label Encoder.
le = LabelEncoder()

# Using .fit_transform function to fit label encoder and return encoded label
label = le.fit_transform(df['MSZoning'])
label1 = le.fit_transform(df['Street'])
label2 = le.fit_transform(df['Alley'])
label3 = le.fit_transform(df['LotShape'])
label4 = le.fit_transform(df['LandContour'])
label5 = le.fit_transform(df['Utilities'])
label6 = le.fit_transform(df['LotConfig'])
label7 = le.fit_transform(df['LandSlope'])
label8 = le.fit_transform(df['Neighborhood'])
label9 = le.fit_transform(df['Condition1'])
label10 = le.fit_transform(df['Condition2'])
label11 = le.fit_transform(df['BldgType'])
label12 = le.fit_transform(df['HouseStyle'])
label13 = le.fit_transform(df['RoofStyle'])
label14 = le.fit_transform(df['RoofMatl'])
label15 = le.fit_transform(df['Exterior1st'])
label16 = le.fit_transform(df['Exterior2nd'])
label17 = le.fit_transform(df['MasVnrType'])
label18 = le.fit_transform(df['ExterQual'])
label19 = le.fit_transform(df['ExterCond'])
label20 = le.fit_transform(df['Foundation'])
label21 = le.fit_transform(df['BsmtQual'])
label22 = le.fit_transform(df['BsmtCond'])
label23 = le.fit_transform(df['BsmtExposure'])
label24 = le.fit_transform(df['BsmtFinType1'])
label25 = le.fit_transform(df['BsmtFinType2'])
label26 = le.fit_transform(df['Heating'])
label27 = le.fit_transform(df['HeatingQC'])
label28 = le.fit_transform(df['CentralAir'])
label29 = le.fit_transform(df['Electrical'])
label30 = le.fit_transform(df['KitchenQual'])
label31 = le.fit_transform(df['Functional'])
label32 = le.fit_transform(df['FireplaceQu'])
label33 = le.fit_transform(df['GarageType'])
label34 = le.fit_transform(df['GarageFinish'])
label35 = le.fit_transform(df['GarageQual'])
label36 = le.fit_transform(df['GarageCond'])
label37 = le.fit_transform(df['PavedDrive'])
label38 = le.fit_transform(df['PoolQC'])
label39 = le.fit_transform(df['Fence'])
label40 = le.fit_transform(df['MiscFeature'])
label41 = le.fit_transform(df['SaleType'])
label42 = le.fit_transform(df['SaleCondition'])


# printing label
label
label1
label2
label3
label4
label5
label6
label7
label8
label9
label10
label11
label12
label13
label14
label15
label16
label17
label18
label19
label20
label21
label22
label23
label24
label25
label26
label27
label28
label29
label30
label31
label32
label33
label34
label35
label36
label37
label38
label39
label40
label41
label42

array([4, 4, 4, ..., 4, 4, 4])

**Dropping irrelevant columns**

In [ ]:
df.drop("Id", axis=1, inplace=True)

In [ ]:
df.drop("MSZoning", axis=1, inplace=True)
df.drop("Street", axis=1, inplace=True)
df.drop("Alley",axis=1, inplace=True)
df.drop("LotShape", axis=1, inplace=True)
df.drop("LandContour", axis=1, inplace=True)
df.drop("Utilities", axis=1, inplace=True)
df.drop("LotConfig", axis=1, inplace=True)
df.drop("LandSlope", axis=1, inplace=True)
df.drop("Neighborhood", axis=1, inplace=True) 
df.drop("Condition1", axis=1, inplace=True)
df.drop("Condition2", axis=1, inplace=True)
df.drop("BldgType", axis=1, inplace=True)
df.drop("HouseStyle", axis=1, inplace=True)
df.drop("RoofStyle",axis=1, inplace=True)
df.drop("RoofMatl", axis=1, inplace=True)
df.drop("Exterior1st", axis=1, inplace=True)
df.drop("Exterior2nd", axis=1, inplace=True)
df.drop("MasVnrType", axis=1, inplace=True)
df.drop("ExterQual", axis=1, inplace=True)
df.drop("ExterCond", axis=1, inplace=True)
df.drop("Foundation",axis=1, inplace=True)
df.drop("BsmtQual", axis=1, inplace=True)
df.drop("BsmtCond", axis=1, inplace=True)
df.drop("BsmtExposure",axis=1, inplace=True)
df.drop("BsmtFinType1", axis=1, inplace=True)
df.drop("BsmtFinType2",axis=1, inplace=True)
df.drop("Heating", axis=1, inplace=True)
df.drop("HeatingQC",axis=1, inplace=True)
df.drop("CentralAir",axis=1, inplace=True)
df.drop("Electrical", axis=1, inplace=True)
df.drop("KitchenQual",axis=1, inplace=True)
df.drop("Functional",axis=1, inplace=True)
df.drop("FireplaceQu",axis=1, inplace=True)
df.drop("GarageType",axis=1, inplace=True)
df.drop("GarageFinish",axis=1, inplace=True)
df.drop("GarageQual", axis=1, inplace=True)
df.drop("GarageCond", axis=1, inplace=True)
df.drop("PavedDrive", axis=1, inplace=True)
df.drop("PoolQC", axis=1, inplace=True)
df.drop("Fence", axis=1, inplace=True)
df.drop("MiscFeature", axis=1, inplace=True)
df.drop("SaleType", axis=1, inplace=True)
df.drop("SaleCondition", axis=1, inplace=True)

# Appending the array to our dataFrame
# with column name 'MSZoning'
df["MSZoning"] = label
df["Street"] = label1
df["Alley"] = label2
df["LotShape"] = label3
df["LandContour"] = label4
df["Utilities"] = label5
df["LotConfig"] = label6
df["LandSlope"] = label7
df["Neighborhood"] = label8
df["Condition1"] = label9
df["Condition2"] = label10
df["BldgType"] = label11
df["HouseStyle"] = label12
df["RoofStyle"] = label13
df["RoofMatl"] = label14
df["Exterior1st"] = label15
df["Exterior2nd"] = label16
df["MasVnrType"] = label17
df["ExterQual"] = label18
df["ExterCond"] = label19
df["Foundation"] = label20
df["BsmtQual"] = label21
df["BsmtCond"] = label22
df["BsmtExposure"] = label23
df["BsmtFinType1"] = label24
df["BsmtFinType2"] = label25
df["Heating"] = label26
df["HeatingQC"] = label27
df["CentralAir"] = label28
df["Electrical"] = label29
df["KitchenQual"] = label30
df["Functional"] = label31
df["FireplaceQu"] = label32
df["GarageType"] = label33
df["GarageFinish"] = label34
df["GarageCond"] = label35
df["PavedDrive"] = label36
df["PoolQC"] = label37
df["Fence"] = label38
df["MiscFeature"] = label39
df["SaleType"] = label40
df["SaleCondition"] = label41

# printing Dataframe
df

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,FireplaceQu,GarageType,GarageFinish,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,60,65,8450,7,5,2003,2003,196,706,0,...,3,1,2,5,5,2,3,4,1,8
1,20,80,9600,6,8,1976,1976,0,978,0,...,5,1,2,5,5,2,3,4,1,8
2,60,68,11250,7,5,2001,2002,162,486,0,...,5,1,2,5,5,2,3,4,1,8
3,70,60,9550,7,5,1915,1970,0,216,0,...,2,5,3,5,5,2,3,4,1,8
4,60,84,14260,8,5,2000,2000,350,655,0,...,5,1,2,5,5,2,3,4,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62,7917,6,5,1999,2000,0,0,0,...,5,1,2,5,5,2,3,4,1,8
1456,20,85,13175,6,6,1978,1988,119,790,163,...,5,1,3,5,5,2,3,2,1,8
1457,70,66,9042,7,9,1941,2006,0,275,0,...,2,1,2,5,5,2,3,0,3,8
1458,20,68,9717,5,6,1950,1996,0,49,1029,...,3,1,3,5,5,2,3,4,1,8
1459,20,75,9937,5,6,1965,1965,0,830,290,...,3,1,0,5,5,2,3,4,1,8

**Seperating "features" from "target":**

In [ ]:
#Extracting the outcome 'SalePrice' from the dataset
Y=df.SalePrice[:]
Y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [ ]:
#set of features
X=df
X

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,FireplaceQu,GarageType,GarageFinish,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,60,65,8450,7,5,2003,2003,196,706,0,...,3,1,2,5,5,2,3,4,1,8
1,20,80,9600,6,8,1976,1976,0,978,0,...,5,1,2,5,5,2,3,4,1,8
2,60,68,11250,7,5,2001,2002,162,486,0,...,5,1,2,5,5,2,3,4,1,8
3,70,60,9550,7,5,1915,1970,0,216,0,...,2,5,3,5,5,2,3,4,1,8
4,60,84,14260,8,5,2000,2000,350,655,0,...,5,1,2,5,5,2,3,4,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62,7917,6,5,1999,2000,0,0,0,...,5,1,2,5,5,2,3,4,1,8
1456,20,85,13175,6,6,1978,1988,119,790,163,...,5,1,3,5,5,2,3,2,1,8
1457,70,66,9042,7,9,1941,2006,0,275,0,...,2,1,2,5,5,2,3,0,3,8
1458,20,68,9717,5,6,1950,1996,0,49,1029,...,3,1,3,5,5,2,3,4,1,8
1459,20,75,9937,5,6,1965,1965,0,830,290,...,3,1,0,5,5,2,3,4,1,8

**checking for null values in train dataset:**

In [ ]:
X.isnull().sum()

MSSubClass        0
LotFrontage       0
LotArea           0
OverallQual       0
OverallCond       0
YearBuilt         0
YearRemodAdd      0
MasVnrArea        0
BsmtFinSF1        0
BsmtFinSF2        0
BsmtUnfSF         0
TotalBsmtSF       0
1stFlrSF          0
2ndFlrSF          0
LowQualFinSF      0
GrLivArea         0
BsmtFullBath      0
BsmtHalfBath      0
FullBath          0
HalfBath          0
BedroomAbvGr      0
KitchenAbvGr      0
TotRmsAbvGrd      0
Fireplaces        0
GarageYrBlt      81
GarageCars        0
GarageArea        0
WoodDeckSF        0
OpenPorchSF       0
EnclosedPorch     0
3SsnPorch         0
ScreenPorch       0
PoolArea          0
MiscVal           0
MoSold            0
YrSold            0
SalePrice         0
MSZoning          0
Street            0
Alley             0
LotShape          0
LandContour       0
Utilities         0
LotConfig         0
LandSlope         0
Neighborhood      0
Condition1        0
Condition2        0
BldgType          0
HouseStyle        0
RoofStyle         0
RoofMatl          0
Exterior1st       0
Exterior2nd       0
MasVnrType        0
ExterQual         0
ExterCond         0
Foundation        0
BsmtQual          0
BsmtCond          0
BsmtExposure      0
BsmtFinType1      0
BsmtFinType2      0
Heating           0
HeatingQC         0
CentralAir        0
Electrical        0
KitchenQual       0
Functional        0
FireplaceQu       0
GarageType        0
GarageFinish      0
GarageCond        0
PavedDrive        0
PoolQC            0
Fence             0
MiscFeature       0
SaleType          0
SaleCondition     0
dtype: int64

In [ ]:
Y.isnull().sum()

0

**X has 81 null values in "GarageBltYr" column; while Y has no null values. Hence, we shall be filling in those null values:**

In [ ]:
X_tr=X.fillna(2008)
X_tr

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,FireplaceQu,GarageType,GarageFinish,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,60,65,8450,7,5,2003,2003,196,706,0,...,3,1,2,5,5,2,3,4,1,8
1,20,80,9600,6,8,1976,1976,0,978,0,...,5,1,2,5,5,2,3,4,1,8
2,60,68,11250,7,5,2001,2002,162,486,0,...,5,1,2,5,5,2,3,4,1,8
3,70,60,9550,7,5,1915,1970,0,216,0,...,2,5,3,5,5,2,3,4,1,8
4,60,84,14260,8,5,2000,2000,350,655,0,...,5,1,2,5,5,2,3,4,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62,7917,6,5,1999,2000,0,0,0,...,5,1,2,5,5,2,3,4,1,8
1456,20,85,13175,6,6,1978,1988,119,790,163,...,5,1,3,5,5,2,3,2,1,8
1457,70,66,9042,7,9,1941,2006,0,275,0,...,2,1,2,5,5,2,3,0,3,8
1458,20,68,9717,5,6,1950,1996,0,49,1029,...,3,1,3,5,5,2,3,4,1,8
1459,20,75,9937,5,6,1965,1965,0,830,290,...,3,1,0,5,5,2,3,4,1,8

In [ ]:
Y_tr=df.SalePrice
Y_tr

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

**Splitting the dataset in 80:20 as "train" & "test"**:

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(
    X_tr, Y_tr, train_size=0.8, test_size=0.2, random_state=0)

# **MODELLING WITH RANDOM FOREST REGRESSION:**

In [ ]:
# Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
 
# fit the regressor with x and y data
regressor.fit(X_train,Y_train)

RandomForestRegressor(random_state=0)

**Checking model score in the training data:**

In [ ]:
regressor.score(X_train, Y_train)

0.9993385233779826

**Predicting outcome on test dataset using the trained model:**

In [ ]:
Y_pred = regressor.predict(X_test)
Y_pred
OUTCOME=pd.DataFrame(Y_pred, columns=["SalePrices"])
OUTCOME

     SalePrices
0     200691.33
1     132944.00
2     109995.00
3     192196.00
4      87859.00
..          ...
287   325989.68
288   595850.18
289   135924.20
290    82484.00
291   101364.28

[292 rows x 1 columns]

In [ ]:
OUTCOME.to_csv("OUTCOMES.csv")

**model score on test data:**

In [ ]:
regressor.score(X_test, Y_pred)

1.0

**calculating error between the predicted outcome (Y_pred) and actual outcome(Y_test)**

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(Y_test, Y_pred)

0.002325396389508231